<div class="container" style="text-align:center">
  <h1>{{title}}</h1>

  <div class="cameraContainer">
    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"></webcam>
    <br/>
    <button class="cameraBtn" (click)="triggerSnapshot();"></button>
  </div>

  <div *ngIf="webcamImage">
    <div class="snapshot">
      <h2>Select Area</h2>
      <image-cropper [imageBase64]="webcamImage.imageAsDataUrl" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128"
        format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"
        style="max-height: 33vh" [style.display]="cropperReady ? null : 'none'"></image-cropper>
    </div>
    <div>
      <h2>Cropped Frame</h2>      
      <img class="crpImg" id="img" [src]="croppedImage" />             
      <button type="button" class="btn btn-primary" (click)="performOCR()">OCR</button>
      <h3>OCR Results</h3>
      <div id="ocr_results"> </div>
    </div>

  </div>
</div>